<h1>Thanks for your reservation! We will send you a email with the confirmation of the booking once we check with the restaurant</h1>
<p><a href="/restaurants/<%= @restaurant[:id] %>" class="btn btn-primary">Back to Event</a></p>